html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* change position from absolute to relative when collapsibles are active so they don't run into footer */
footer {
    position: absolute; /* Default: Stay at the bottom */
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    background-color: #222; /* Adjust color as needed */
    color: white;
    text-align: center;
    padding: 10px 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    /* background-color: whitesmoke; */
}

    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('/img/background-image3.jpg') no-repeat center center fixed;
        background-size: cover;
        opacity: 0.5;
        z-index: -1; /* Push it behind the content */
    }

.text-center {
    background: rgba(0, 0, 0, 0.6); /* Dark overlay for readability */
    padding: 30px;
    border-radius: 10px;
    color: #fbf6f0;
}

h1.display-4 {
    font-size: 3rem;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

h2.collapsible {
    background-color: #4CAF50D9;
    color: white;
    border: none;
    padding: 15px;
    font-size: 18px;
    text-align: left;
    cursor: pointer;
    outline: none;
    margin: 10px 0;
    border-radius: 5px;
    max-width: fit-content;
}

.collapsible.active {
    background-color: #4CAF50D9;
    max-width: fit-content;
}

.collapsible-content {
    background-color: #f4f4f485;
    padding: 20px;
    color: #333;
    border-radius: 5px;
    margin: 10px 0;
    display: none;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.contact-container {
    background-color: #f4f4f485;
    padding: 20px;
    color: #333;
    border-radius: 5px;
    margin: 10px 0;
}

ul {
    padding-left: 20px;
}

li {
    margin: 5px 0;
}